.cardImg{
    height: 33vh;
    padding: 5px;
    border-radius: 10px;    
}

.btn-regular{
    background-color: #79B4B7;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-regular:hover{
    color: #F8F0DF;
}